<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>BetterService Scheduling</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <header>
            <p><a href="scheduling">home</a></p>
        </header>
        <h1>Get Appointments</h1>
        <form action="#" th:action="@{/getAppointments}" method="post">
            <p>Customer ID: <input type="text" name="customerId" placeholder="Enter your ID"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </body>
</html>
