<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>BetterService Scheduling</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Make Appointment</h1>
        <form action="#" th:action="@{/scheduling}" th:object="${appointment}" method="post">
            
            <p>Customer ID: <input type="text" th:field="*{customerId}" placeholder="Enter your ID" required/></p>
            <p>Employee Name: <input type="text" th:field="*{employeeName}" placeholder="Enter Employee Name" required/></p>
            <p>Date: <input type="date" th:field="*{date}", placeholder="MM/DD/YYYY" required/></p>
            <p>Time: <input type="time" th:field="*{time}" placeholder="HH:MM" required/></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" required/></p>
        </form>
        <a href="/getAppointments">View all appointments</a>
    </body>
</html>
