<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>BetterService Scheduling</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        td {text-align:center}
    </style>
</head>
<body>
    <header>
        <p><a href="scheduling">home</a></p>
    </header>
	<h1>Scheduled Appointments for <span th:text="${customerId}"></span></h1>
    <table border="1">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="appointment : ${appointments}">
                <td th:text="${appointment.employeeName}" />
                <td th:text="${appointment.date}" />
                <td th:text="${appointment.time}" />
                <td>
                    <a th:href="@{'/editAppointment?id=' + ${appointment.id}}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <p><a href="getAppointments">View for another customer</p>
</body>
</html>
